<a href="https://colab.research.google.com/github/TSDWDemon/Python-Code/blob/main/Python_BASICS_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#BASICS OF PYTHON FOR BEGINNER LEVELS
                                      By Syed Amaan Haider

Using this basic **print** statement you can learn how we can Print a basic alphabet

In programming language there is a lot of difference in Alphabets
* **Strings**: A sequence of characters. For example, "hello" is a string consisting of five characters.
* **Character**: In Python, there isnâ€™t a separate character type. Instead, a single character is simply a string of length one. For example, 'a' is a string with one character12.

In [ ]:
print("Hello World")

Hello World

#THEN MOVING ONTO VARIABLES

**Variable**

Variable is like a container which we use use to store different types of values.
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

In [ ]:
a = 98
print(a)
type(a) #this shows the type of datatype the value you provide is

98

int

In [4]:
a=b=c=2
'''
using this we can assign one value to many variable so in series
if you print like a , b , c you will get the same value which is 2
'''
print(a)
print(b)
print(c)
print(a,b,c)

2
2
2
2 2 2

Hence, as you have seen the above output which is

2

2

2

and 2  2  2

thats because of the usage of print statement and variables we passed in it

#ASSIGNEMENT OF VALUES TO VARIABLES IN A SINGLE LINE
Here we do a , b , c = 1 , 2 , 3

which basically means a -> 1
                      b -> 2
                      c -> 3

In [5]:
a,b,c = 1,2,3 #Here we appointed 3 values to 3 other variables
print(a,b,c)

1 2 3

As per the output we understand that values store in the variable are in order in which we assigned it to them

#TYPES OF DATATYPES
* Text Type:	str (remember python doesn't have char)
* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple, range
* Mapping Type:	dict
* Set Types:	set, frozenset
* Boolean Type:	bool
* Binary Types:	bytes, bytearray, memoryview
* None Type:	NoneType


---

Here we provided a complex value to the code and this is how output shows

In [ ]:
x = 5j #complex value
type(x) #this shows the type of datatype the value you provide is

complex

As above output declared it's type which is complex so that how we identify variable's datatype using type() function


---

#OPERATORS
Arithmetic Operators: Perform basic mathematical operations.
* (Addition) +
* (Subtraction) -
* *(Multiplication)
* / (Division)
* % (Modulus)
* ** (Exponentiation)
* // (Floor Division)

Assignment Operators: Assign values to variables.
* = (Assign)
* += (Add and assign)
* -= (Subtract and assign)
* *= (Multiply and assign)
* /= (Divide and assign)
* %= (Modulus and assign)
* **= (Exponentiation and assign)
* //= (Floor division and assign)

Comparison Operators: Compare two values.
* == (Equal)
* != (Not equal)
* (Greater than) >
* (Less than) <
* (Greater than or equal to) >=
* (Less than or equal to) <=

Logical Operators: Combine conditional statements.
* and (Logical AND)
* or (Logical OR)
* not (Logical NOT)

Identity Operators: Compare the memory locations of two objects.
* is (Same object)
* is not (Not the same object)
* Membership Operators: Test if a sequence is present in an object.
* in (Exists in)
* not in (Does not exist in)
* Bitwise Operators: Perform bit-level operations.
* & (AND)
* | (OR)
* ^ (XOR)
* ~ (NOT)
* (Zero fill left shift) <<
* (Signed right shift) <<

*We will have a whole other chapter for this posted over github python basics so don't worry for now learn some basics operation*

remeber if we have a value like a + b

then,
* a = operand
*  += operator
* b = operand

In [2]:
a = 73298
b = 29812
c = a+b
print(c)

103110

In [4]:
#concatination using Strings value where you have to enclose the Alphabets with (" ")
a = "TSDW"
b = " Demon"
print(a+b)

TSDW Demon

#MORE WE WILL LEARN IN NEXT BASIC PART 2
Run this program for Easter Eggs to look cool for your people you can replace my name to your desired prompt enjoy

line to be modified by you


> animated_text("Hello, this is TSDW Demon", delay=0.1)

now find it by yourself enough of hints xD

In [9]:
import time

def animated_text(text, delay=0.1):
    for char in text:
        print(char, end='', flush=True)
        time.sleep(delay)
    print()

animated_text("Hello, this is TSDW Demon", delay=0.1)

Hello, this is TSDW Demon